# Exemplo de variáveis de ambiente para Certifique-me

DB_USER=postgres
DB_PASSWORD=senha_segura
DB_NAME=certificados_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME_TEST=certificados_db_test
DB_PORT_TEST=5433
NODE_ENV=development
