JWT_SECRET=sua_chave_jwt_super_secreta
# Exemplo de variáveis de ambiente para Certifique-me

DB_USER=postgres
DB_PASSWORD=senha_segura
DB_NAME=certificados_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME_TEST=certificados_db_test
DB_PORT_TEST=5433
NODE_ENV=development
# Cloudflare R2
R2_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=SEU_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=SEU_SECRET_ACCESS_KEY
R2_BUCKET=nome-do-seu-bucket
